@charset "utf-8";
/*---CSS Document---*/

/*---Import Reset---*/
@import url("reset.css");
/*---Import Reset End---*/


/*---CSS 3 @ Fontface---*/
@font-face {
}
/*---CSS 3 @ Fontface End---*/


/*---Webpage Basic Structure---*/
html {
  height:100%;
  background:url("../images/cartographer.png");
}

html, body {
  height:100%;
  border:0px;
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
  color:#000000;
  font-size:13px;
  line-height:24px;
  font-weight:normal;
  text-align:justify;
  hyphens:none;  
  font-smooth:always;
  -webkit-font-smoothing:antialiased;
  text-shadow:0 1px 1px rgba(0,0,0,.8);
}

.wrapper{
  width:100%;
  min-height:100%;
  height:100%; 
  position:relative;
  top:0px;
  bottom:0px;
}

header {
  width:100%;
  height:0px;
  background:url("../images/") repeat-x;
}

.content {
  height:auto; !important
  min-height: 100%;
  height:100%;
}

.content_wrapper{
  width:1000px; 
  margin:0 auto;
  min-height:100%;
}

footer {
  width:100%;
  height:0px;
  background:url("../images/") repeat-x;
  position:absolute;
  bottom:0;
  left:0;
}

.under_construction {
  background:url("../images/under_construction.png") bottom no-repeat;
  width:430px;
  height:500px;
}
/*---Webpage Basic Structure End---*/


/*---Font Formating---*/
p{
  margin:0;
  padding:0;
  text-align:justify;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size:50px;
  font-weight:bold;
  line-height:60px;
  color:#000000;
  padding:0;
  margin:0;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size:45px;
  font-weight:bold;
  line-height:55px;
  color:#000000;
  padding:0;
  margin:0;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size:40px;
  font-weight:bold;
  line-height:50px;
  color:#000000;
  padding:0;
  margin:0;
}

h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size:35px;
  font-weight:bold;
  line-height:45px;
  color:#000000;
  padding:0;
  margin:0;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
  font-weight:bold;
  line-height:40px;
  color:#000000;
  padding:0;
  margin:0;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:25px;
  font-weight:bold;
  line-height:35px;
  color:#000000;
  padding:0;
  margin:0;
}
/*---Font Formating End---*/


/*---Main Menu---*/
#maincurrent{
  width:100%;
  height:0px;
  display:block;
  font-size:13px;
  color:#000000;
  text-decoration:none;
  background:url("../images/") center top no-repeat;
}

.mainmenu{
  width:100%;
  height:0px;
  border:none;
  margin:0px;
  padding:0px;
  font-family:Arial, Helvetica, sans-serif;
}

.mainmenu ul{
  margin:0;
  padding:0;
  list-style:none;
}

.mainmenu ul li{
  width:100%;
  height:0px;
  float:right;
  text-align:center;
}
		
.mainmenu ul li a{
  width:100%;
  height:0px;
  background:none;
  padding:0;
  margin:auto;
  font-size:13px;
  font-weight:bold;
  color:#000000;
  line-height:0px;
  text-decoration:none;
  text-shadow:0 1px 1px rgba(255,255,255,1);
  display:block;
}
	
.mainmenu ul li:hover a{
  text-decoration:none;
  width:100%;
  height:0px;
  display:block;
  font-size:14px;
  background:url("../images/") center top no-repeat;
}
		
.mainmenu ul li ul{
  width:100%;
  height:0px;
  margin:0px;
  padding:0;
  border:0;
  display:none;
  background-color:#ffffff;
  position:absolute;
  z-index:200;
  /*top:1em;
  /*left:0;*/
}

.mainmenu ul li:hover ul{
  display:block;
}
			
.mainmenu ul li ul li {
  width:100%;
  height:0px;
  border:0;
  margin:0px;
  padding:0px;
  display:block;
  text-align:left;
  text-decoration:none;
  vertical-align:middle;
}
		
.mainmenu ul li:hover ul li a{
  background:none;
}
		
.mainmenu ul li ul a{
  width:100%;
  margin:0px;
  padding:0px;
  display:block;
  font-size:16px;
  font-style:normal;
  line-height:35px;
  color:#000000;
}
					
.mainmenu ul li ul a:hover,{
  border:0px;
  text-decoration:none;
}
					
.mainmenu ul li ul li:hover a{
  border:0px;
  width:100%;
  height:0px;
  text-decoration:none;
  color:#000000;
  background:#ffffff;
  text-shadow:none;
}

/*---Main Menu End---*/

/*---Footer Menu---*/

.footer_menu{
  width:100%;
  height:auto;
  padding:0px;
  margin:0px;
  float:left;
  font-size:12px;
}
	
.footer_menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  position:relative;
  float:left;
}
	
.footer_menu ul li {
  width:auto;
  padding:0px;
  float:left;
  display:inline-block;
  font-size:12px;
  line-height:12px;
}
	
.footer_menu ul li a{
  color:#000000;
  text-decoration:none;
}
	
.footer_menu ul li a:hover{
  color:#000000;
  text-decoration:none;
}	
		
.footer_menu li ul{
  width:100%;
  height:0;
  padding:0px;
  margin:0px;
  border:0px;
  display:none;
  position:absolute;
  z-index:200;
}
	
.footer_menu li:hover ul{
  display:block;
}
	
.footer_menu li li {
  margin:0px;
  padding:0px;
  color:#000000;
}
		
.footer_menu li:hover li a{
  background:none;
  margin:0px;
}	
	
.footer_menu li ul a{
  float:left;
  margin:0px;
}
		
.footer_menu li ul a:hover, .mainmenu li ul li:hover a{
  border:0px;
  color:#000000;
  text-decoration:none;
}
						
.copyright{
  width:100%;
  height:0px;
  padding:0px;
  margin:0px;
  float:right;
  font-size:12px;
  line-height:12px;
  color:#000000;
}						
	
/*---Footer Menu End---*/



.btn_1 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:34px;
  height:32px;
}

.btn_1:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:34px;
  height:32px;
}

